<h1 class="title">Manzy's Fan Club</h1>
<div class="main">
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><span></span>Manzy</a>
      </li>
      <li>
        <a routerLink="/events" routerLinkActive="active"><span></span>Events</a>
      </li>
      <li>
        <a routerLink="/live" routerLinkActive="active"><span></span>Live</a>
      </li>
    </ul>
  </nav>
  <div class="main-container">
    <div class="container">
      <router-outlet />
    </div>
  </div>
</div>